In [41]:
import pandas as pd

data = pd.read_csv('data.csv')

In [42]:
data.head()

,treatment,video,song_rank,video_length,day_posted,time_posted,time_data_collected,views,likes,comments,favorites,shared,end_of_experiment_date_time,final_views,final_likes,final_comments,final_favorites,final_shared
0,C,Video #17,NaN,0:06:00,2/27/2024,4:00:00 PM,5:00:00 PM,597,13,0,0,0,3/4/2024 20:00,610,14,0,0,0
1,C,Video #18,NaN,0:07:00,2/27/2024,5:00:00 PM,6:00:00 PM,364,6,0,0,0,3/4/2024 20:00,585,11,0,0,0
2,T,Video #13,8.0,0:05:00,2/27/2024,7:00:00 PM,8:00:00 PM,2,0,0,0,0,3/4/2024 20:00,8,0,0,0,0
3,T,Video #6,3.0,0:06:00,2/27/2024,8:00:00 PM,9:00:00 PM,53,3,0,0,0,3/4/2024 20:00,551,25,0,0,0
4,T,Video #10,2.0,0:16:00,2/27/2024,9:00:00 PM,10:00:00 PM,366,25,0,0,0,3/4/2024 20:00,575,40,2,0,0

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   treatment                    60 non-null     object
 1   video                        60 non-null     object
 2   song_rank                    30 non-null     float64
 3   video_length                 60 non-null     object
 4   day_posted                   60 non-null     object
 5   time_posted                  60 non-null     object
 6   time_data_collected          60 non-null     object
 7   views                        60 non-null     int64
 8   likes                        60 non-null     int64
 9   comments                     60 non-null     int64
 10  favorites                    60 non-null     int64
 11  shared                       60 non-null     int64
 12  end_of_experiment_date_time  60 non-null     object
 13  final_views                  60 non-null     int64
 14  final_likes                  60 non-null     int64
 15  final_comments               60 non-null     int64
 16  final_favorites              60 non-null     int64
 17  final_shared                 60 non-null     int64
dtypes: float64(1), int64(10), object(7)
memory usage: 8.6+ KB

# Quick Data Cleansing

In [44]:
data['treatment'] = data['treatment'].astype('category')
data['video'] = (data['video'].apply(lambda x: x.split('#')[1])).astype(int)
data['day_posted'] = pd.to_datetime(data['day_posted'])
data['time_posted'] = pd.to_datetime(data['time_posted']).dt.hour
data['end_of_experiment_date_time'] = pd.to_datetime(data['end_of_experiment_date_time'])
data['end_of_experiment_date'] = data['end_of_experiment_date_time'].dt.date
data['end_of_experiment_hour'] = data['end_of_experiment_date_time'].dt.hour

data = data.drop(columns=['song_rank', 'video_length', 'time_data_collected', 'end_of_experiment_date_time'])

/var/folders/x3/42y9jxy964lg3yyk_9zhss280000gn/T/ipykernel_24478/1127541798.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['time_posted'] = pd.to_datetime(data['time_posted']).dt.hour

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   treatment               60 non-null     category
 1   video                   60 non-null     int64
 2   day_posted              60 non-null     datetime64[ns]
 3   time_posted             60 non-null     int32
 4   views                   60 non-null     int64
 5   likes                   60 non-null     int64
 6   comments                60 non-null     int64
 7   favorites               60 non-null     int64
 8   shared                  60 non-null     int64
 9   final_views             60 non-null     int64
 10  final_likes             60 non-null     int64
 11  final_comments          60 non-null     int64
 12  final_favorites         60 non-null     int64
 13  final_shared            60 non-null     int64
 14  end_of_experiment_date  60 non-null     object
 15  end_of_experiment_hour  60 non-null     int32
dtypes: category(1), datetime64[ns](1), int32(2), int64(11), object(1)
memory usage: 6.9+ KB

In [46]:
data.head()

,treatment,video,day_posted,time_posted,views,likes,comments,favorites,shared,final_views,final_likes,final_comments,final_favorites,final_shared,end_of_experiment_date,end_of_experiment_hour
0,C,17,2024-02-27,16,597,13,0,0,0,610,14,0,0,0,2024-03-04,20
1,C,18,2024-02-27,17,364,6,0,0,0,585,11,0,0,0,2024-03-04,20
2,T,13,2024-02-27,19,2,0,0,0,0,8,0,0,0,0,2024-03-04,20
3,T,6,2024-02-27,20,53,3,0,0,0,551,25,0,0,0,2024-03-04,20
4,T,10,2024-02-27,21,366,25,0,0,0,575,40,2,0,0,2024-03-04,20