In [6]:
import pandas as pd

data = pd.read_csv('data.csv')

In [7]:
data.head()

,treatment,video,song_rank,video_length,day_posted,time_posted,time_data_collected,views,likes,comments,favorites,shared,end_of_experiment_date_time,final_views,final_likes,final_comments,final_favorites,final_shared
0,C,Video #17,NaN,0:06:00,2/27/2024,4:00:00 PM,5:00:00 PM,597,13,0,0,0,3/4/2024 20:00,610,14,0,0,0
1,C,Video #18,NaN,0:07:00,2/27/2024,5:00:00 PM,6:00:00 PM,364,6,0,0,0,3/4/2024 20:00,585,11,0,0,0
2,T,Video #13,8.0,0:05:00,2/27/2024,7:00:00 PM,8:00:00 PM,2,0,0,0,0,3/4/2024 20:00,8,0,0,0,0
3,T,Video #6,3.0,0:06:00,2/27/2024,8:00:00 PM,9:00:00 PM,53,3,0,0,0,3/4/2024 20:00,551,25,0,0,0
4,T,Video #10,2.0,0:16:00,2/27/2024,9:00:00 PM,10:00:00 PM,366,25,0,0,0,3/4/2024 20:00,575,40,2,0,0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   treatment                    60 non-null     object
 1   video                        60 non-null     object
 2   song_rank                    30 non-null     float64
 3   video_length                 60 non-null     object
 4   day_posted                   60 non-null     object
 5   time_posted                  60 non-null     object
 6   time_data_collected          60 non-null     object
 7   views                        60 non-null     int64
 8   likes                        60 non-null     int64
 9   comments                     60 non-null     int64
 10  favorites                    60 non-null     int64
 11  shared                       60 non-null     int64
 12  end_of_experiment_date_time  60 non-null     object
 13  final_views                  60 non-null     int64
 14  final_likes                  60 non-null     int64
 15  final_comments               60 non-null     int64
 16  final_favorites              60 non-null     int64
 17  final_shared                 60 non-null     int64
dtypes: float64(1), int64(10), object(7)
memory usage: 8.6+ KB

# Quick Data Cleansing

In [13]:
data['treatment'] = data['treatment'].astype(str)
data['video'] = data['video'].apply(lambda x: x.split('#')[1]).astype(int)
data['song_rank'] = data['song_rank'].astype(int)

0     17
1     18
2     13
3      6
4     10
5     30
6     27
7      5
8      9
9     23
10    24
11    12
12     1
13    11
14     9
15    10
16    19
17    12
18    14
19     7
20    28
21    25
22    20
23     7
24     8
25    24
26    26
27    21
28    15
29    17
30    22
31     3
32    21
33    29
34     5
35    26
36    11
37     4
38    16
39     3
40     8
41    25
42    29
43    23
44    18
45    15
46    28
47     2
48    20
49     6
50    13
51     1
52    27
53    16
54     2
55     4
56    22
57    19
58    30
59    14
Name: video, dtype: object